

{{#if user}}
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">



    <title>Side Menu &ndash; Layout Examples &ndash; Pure</title>

    
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">
<link rel="stylesheet" href="/dist/css/side-menu.css">
<link rel="stylesheet" href="dist/css/tag/tags.css" type="text/css" />
    <!--<![endif]-->
 </head>
<body>






<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
        	<a class="pure-menu-heading" href="#" style="border-bottom: solid 1px rgba(255,255,255,.8); font-size: 150%;border-right: solid 1px rgba(255,255,255,.8)">HyperLocal</a>


            <a class="pure-menu-heading" href="#" style=" opacity: .7">{{user.username}}</a>

            <ul>
               	<li><a href="/myinfo" id="about-link" ><span class="fa fa-user">My Info</span></a></li>
								<li><a href="/" id="about-link"><span class="fa fa-user">My Posts</span></a></li>
								<li><a href="/feed" id="portfolio-link"><span class="fa fa-th">Feed</span></a></li>
								<li><a href="/inbox" id="contact-link" ><span class="fa fa-envelope">Inbox</span></a></li>
								<li><a href="/logout" id="contact-link"><span class="fa fa-envelope">Logout</span></a></li>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


								&nbspHyperLocal © 2014
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            
            <span id="loc"> News Feed aroudn </span>
            <button id="showForm" class = "pure-button pure-button-primary" style="background: #191818"> Post a Request </button>
            
           	<div id="form" class"pure-form pure-form-stacked">
			<form method="post" action="/getpost" accept-charset="UTF-8" id="postform" >

 					<input name="lat" id="lat" style="display:none" value={{lati}}></input>
				 	<input name="long" id="long" style="display:none" value={{longit}}></input>
				 	<br><br>
 					<select id="selecttag" name="typeans">
  						<option value="I Need " name="need">I Need  * </option>
 						 <option value="I Have " name="have">I Have  </option>
  					</select><br><br>
					<input class = "entryInput"  required id="blogposttitle" type="text" placeholder="What do you need?" style="placeholder-color: white"name = "posttitle" /> <br><br>
					<input class = "entryInput" required id="thepost" type="text" placeholder="Details" name="postentry" /><br><br>
					<input placeholder="Details" type="text" id="tags" class="input" name="tag"  /><br><br>
					<input  class = "entryInput2" id="submitPost" type="submit" class="pure-button pure-button-primary"/>

			</form>
		    </div>
        </div>
        <br>
        <br>
        <div class="content">

			
			

	{{#if entries}}
	<div id="theposts2">
	{{#each entries}}
	<p id="theposts" class="theposts1">

	<a href="/article/{{id}}" id="link1" ><span id="type1">{{type}}</span> {{title}}   </a><br/>
	{{#if commentst}}
		{{#each commentst}}
			<p id="thecommentst">{{thecomment}}<b><a href="/profile/{{posteruname}}"> {{posteruname}} </a> &nbsp <a href="/inboxtest/{{posteruname}}"> Message her! </a></b></p>
		{{/each}}
	{{else}}
			<p id="thecommentst">No Comment</p>
	{{/if}}
		Published: {{published}} 
		Tags : 
				{{tags}}
			
		BY : {{username}} 
	   
		
		
		<form method="post" action="/comment" accept-charset="UTF-8"  >
			<input type="text" name="id" style = "display: none;" value = "{{id}}"/>
			<input type="text"  name="comment" id="comment" placeholder="Reply"/>
			<input type="text" name="page" value="feed" style="display: none" />
			<input type="submit" class="button" ></input>
		
		</form>
	</p>
	{{/each}}
	</div>
	<br>
	<br>
	
	</div>
	{{else}}
		No Posts Yet. <a href="/feed"> Refresh</a>
	{{/if}}
{{else}}
	<p> How did you get here/ go to <a href="/loginform">Log in </p>
{{/if}}



           

            

        </div>
    </div>
</div>





<script src="/dist/js/ui.js"></script>
<script src="/dist/js/jquery.js"></script>
<script src="dist/js/tag/tags.js"></script>  

<script>

//sample script to see if tags works
  
    $(function() {
      $('#tags').tagbox({
        url : ["api","blog","bootstrap","carousel","comments","configuration","content","css","database","date","drafts","email","experiment","fancybox","flickr","forum","google","html5","images","installation","jquery","js","json","kirbytext","language","maps","markdown","masonry","metatags","pagination","panel","plugin","releases","rss","search","security","server","tags","thumbnails","toolkit","tutorial","twitter","typography","uri","use case","videos","yaml"]
      });
    });

			
  </script>


</body>
</html>










