<header id = "mainpage">
	HyperLocal

</header>
<p> The Invite code is : axfertlsdf124dk3</p> 
<p> I am working a more secure invite code system- I decided to push this code for a certain reason, that I still don't know. JK. No but seriously.  </p>
<p> Welcome to HyperLocal!<br>
	Currently its, inviete only alpeta testing! 
	So if you have an invite code please enter it :</p>
{{message}}
<form method="post" action="processcode" accept-charset="UTF-8">
<input id="invitecode" placeholder ="code"  name = "invitecode"/>
</form>