<html>
 
<head>
   <title>{{title}}</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    

    <!-- Loading Flat UI -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">



    <link rel="shortcut icon" href="images/favicon.ico">
  <!-- <link href="/dist/css/style-wide.css" rel="stylesheet">
    <link href="/dist/css/style-narrow.css" rel="stylesheet">
     <link href="/dist/css/style-narrower.css" rel="stylesheet">
      <link href="/dist/css/style-normal.css" rel="stylesheet">
       <link href="/dist/css/style-mobile.css" rel="stylesheet"> -->
</head>
 
<body>

 
   {{{body}}}

   <br>
   <br>
   <br>
 
  
   
    
</body>
</html>