<link rel="stylesheet" href="/dist/css/side-menu.css"/ >
<br><br><br>
 <div id="logo"> HYPERLOCAL </div>
<form method="post" action="/signup" accept-charset="UTF-8" id="login">
	 <p id="loginDialogue" > SIGN UP </p>
 	<p id="theMessage"> {{message}} </p>
 	
	<input class = "loginInput" id="uname" type="text" placeholder="username" name = "username" /> 
	<br>
	<input class = "loginInput"id="pword" type="email" placeholder="email" name="email" />
	<br>
	<input class = "loginInput" id="pword" type="password" placeholder="pass" name="password" />
	<br>
	<input class = "loginInput2" type="submit" class="button"/>

</form>
